# IntelliJ / Android Studio
*.iml
.idea/

# Gradle
.gradle/
build/

# Local config
local.properties

# NDK / CMake
.externalNativeBuild/
.cxx/

# OS files
.DS_Store

# Android artifacts
*.apk
*.ap_
*.aab

# Keystore (ważne!)
*.jks
*.keystore

# Captures
captures/
